:root {
    --bg-color: black;
    --font-color: lightslategray;
    --hl-color: orange;
    --fg-color: #292f34;
}

// fonts
$main-font: "Inconsolata", monospace;

//  border

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$mobileSpacing: 24px;

$mobile-width: 600px;
$tablet-width: 1024px;
